.PortfolioHomeTwo {
    background-image: url("../../about/banner_quests_desktop@2x.69ef9bf3.png");
    min-height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 30px;

    .portofiloIconTwo {
        font-size: 55px;
        padding: 20px;
        border-radius: 100px;
        background-color: #E44059;
        color: white;
    }

    h3 {
        font-size: 68px;
        font-weight: 700;
        color: white;
    }
}

.photographersHomeTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

    .photographersHomeContainerTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        width: 80%;

        .photographersHomeContainerTwoDesk {
            display: flex;
            gap: 15px;
            flex-direction: column;
            align-items: start;
            text-align: start;
            width: 100%;
            h3 {
                font-size: 40px;
                font-weight: 700;
            }

            p {
                font-size: 19px;
                font-weight: 400;
            }

            button {
                padding: 15px 22px;
                font-size: 27px;
                font-weight: 700;
                background-color: #222222;
                color: white;
                border-radius: 100px;
            }
        }

        .ImagePhTwo {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}