.looking {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 130vh;
    width: 100%;

    .signUpHome {
        display: none;
        text-align: center;

        button {
            margin-top: 16px;
            padding: 15px 32px;
            background: #2A2A2A;
            color: rgb(255, 255, 255);
            font-size: 24px;
            width: 216px;
            border-radius: 50px;
            text-align: center;
            text-decoration: none;
            font-weight: 700;
            margin-bottom: 25px;

            &:hover {
                background: #000000;
                color: rgb(255, 255, 255);
                cursor: pointer;
            }
        }
    }

    .yellowBottom {
        position: absolute;
        bottom: -1px;
        right: -1px;
        width: 70%;
    }

    .lookingContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 85%;
        gap: 50px;

        .inspiration {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .inspirationDesc {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 70%;
                border-bottom: 1px solid gray;

                .inspirationLeft {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;

                    h3 {
                        color: black;
                        font-size: 36px;
                    }

                    p {
                        color: rgb(34, 34, 34);
                        font-size: 17px;
                        margin-bottom: 25px;
                    }
                }

                .inspirationRight {
                    button {
                        border: none;
                        padding: 17px 35px;
                        background-color: #FFDD66;
                        font-size: 18px;
                        font-weight: 700;
                        border-radius: 100px;
                        cursor: pointer;
                    }
                }
            }
        }

        .whatMakesUsDifferent {
            .whatMakesUsDifferentTop {
                width: 100%;
                text-align: center;
                margin: 26px;

                h1 {
                    font-size: 40px;
                    font-weight: 600;
                }
            }

            .whatMakesUsDifferentBottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                .whatMakesUsDifferentBottomCard {
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    width: 20%;
                    gap: 23px;

                    svg {
                        width: 70px;
                        height: auto;

                    }

                    p {
                        color: rgb(34, 34, 34);
                        font-size: 16px;
                        font-weight: 400;
                    }

                    h3 {
                        color: black;
                        font-weight: 700;
                        font-size: 28px;
                    }
                }
            }
        }

        .getTheApp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            .getTheAppLeft {
                display: flex;
                align-items: start;
                justify-content: start;
                flex-direction: column;
                width: 100%;
                gap: 40px;

                .getTheAppLeftDesk {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;

                    h1 {
                        font-size: 36px;
                        font-weight: 700;
                    }

                    p {
                        width: 65%;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                .getTheAppStore {
                    display: flex;
                    gap: 20px;

                    a {
                        width: 23%;
                        z-index: 45;
                        height: 60px;
                        border-radius: 10px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .getTheAppRight {
                z-index: 1;

                img {
                    width: 70%;
                }
            }
        }
    }
}

@media screen and (min-width:280px)and (max-width:860px) {
    .looking {
        flex-direction: column;

        .signUpHome {
            width: 90%;
            display: block;
            min-height: 15vh;

            button {
                width: 100%;
            }
        }

        .lookingContainer {
            width: 100%;

            .inspiration {
                width: 95%;

                .inspirationDesc {
                    flex-direction: column;
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    .inspirationLeft {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 20px;
                        width: 100%;
                        text-align: center;
                    }

                    .inspirationRight {
                        width: 100%;

                        button {
                            width: 89%;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .whatMakesUsDifferent {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .whatMakesUsDifferentTop {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {

                        font-size: 50px;
                        margin: 0px;
                    }
                }

                .whatMakesUsDifferentBottom {
                    flex-direction: column;
                    width: 100%;

                    .whatMakesUsDifferentBottomCard {
                        width: 90%;
                        margin-top: 20px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
        }

        .getTheApp {
            flex-direction: column;
            width: 100%;
            text-align: center;

            .getTheAppLeft {
                width: 100%;
                display: flex;
                gap: 20px;

                .getTheAppLeftDesk {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                }

                .getTheAppStore {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    a {

                        img {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }



}