.BestEditor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-image: url("../../about/banner_editors_desktop@2x.50cf130f.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 55vh;
    gap: 30px;

    svg {
        width: 100px;
        height: auto;
        padding: 15px;
        border-radius: 100px;
        background-color: aqua;
    }

    span {
        font-size: 68px;
        font-weight: 700;
        color: white;
    }
}