.LicensingFeed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .LicensingFeedContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;

        .LicensingFeedTop,
        .LicensingFeedFive {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 30px;

            .LicensingFeedTopContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                gap: 30px;

                .LicensingFeedTopContainerLeft {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 30px;
                    width: 100%;

                    .deskFeed {
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex-direction: column;
                        gap: 20px;

                        p {
                            font-size: 16px;
                            color: rgb(70, 69, 69);
                        }
                    }
                }

                .LicensingFeedTopContainerRight {
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }

            }
        }

        .LicensingFeedTwo {
            width: 100%;
            min-height: 65vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            color: white;
            flex-direction: column;
            background-image: url("../../about/banner_image_1.a9d73d66.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h1 {
                font-size: 50px;
            }

            p {
                font-size: 20px;
            }
        }

        .LicensingFeedThree {
            width: 100%;
            min-height: 35vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            color: white;
            flex-direction: column;
            background-color: #BF0D49;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h1 {
                font-size: 30px;
                width: 60%;
            }

            h3 {
                font-size: 60px;
            }

            p {
                font-size: 17px;
            }
        }

        .LicensingFeedFour {
            width: 100%;
            min-height: 75vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            color: white;
            flex-direction: column;
            background-image: url("../../about/banner_image_2.d6077a01.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h3 {
                font-size: 60px;
            }

            p {
                font-size: 17px;
            }
        }


        .LicensingFeedSix {
            width: 100%;
            min-height: 25vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            color: black;
            flex-direction: column;
            background-color: #19D6C0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;



            h3 {
                font-size: 60px;
            }

            p {
                font-size: 17px;
            }
        }

        .LicensingFeedSeven {
            width: 100%;
            min-height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: black;
            flex-direction: column;
            background-color: #FEDF46;
            position: relative;
            padding: 40px;

            .feedTopImg {
                position: absolute;
                top: -1px;
                max-width: 100%;
            }

            .LicensingFeedSevenCard {
                width: 84%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 40px;
                flex-wrap: wrap;

                .LicensingFeedCards {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 28%;
                    gap: 20px;

                    h1 {
                        font-size: 27px;
                        margin-top: 20px;
                    }

                    a {
                        color: black;

                    }

                    .learnSevenBtn {
                        padding: 15px 25px;
                        background-color: #222222;
                        color: white;
                        font-size: 18px;
                        border-radius: 100px;
                        text-decoration: none;
                        transition: 0.4s;

                        &:hover {
                            background-color: black;
                            transition: 0.4s;
                        }
                    }
                }
            }

        }

        .LicensingFeedBottom {
            width: 100%;
            min-height: 35vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
            color: black;
            flex-direction: column;
            background-color: #222222;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h1 {
                font-size: 40px;
                color: white;
            }

            p {
                font-size: 17px;
                color: white;
            }

            a {
                padding: 15px 25px;
                background-color: transparent;
                color: white;
                border: 2px solid white;
                font-size: 17px;
                font-weight: 600;
                border-radius: 100px;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width:280px)and (max-width:860px) {
    .LicensingFeed {
        .LicensingFeedContainer {
            width: 100%;

            .LicensingFeedTopContainer {
                flex-direction: column;
                width: 100%;

                .LicensingFeedTopContainerLeft {
                    width: 100%;

                    .deskFeed {
                        width: 100%;

                        h1 {
                            width: 100%;
                        }
                    }
                }
            }

            .LicensingFeedThree,
            .LicensingFeedFour,
            .LicensingFeedSix {
                width: 100%;

                h1,
                p {
                    width: 90%;
                }
            }

            .LicensingFeedBottom {
                padding: 20px;
            }

            .LicensingFeedSeven {
                .LicensingFeedSevenCard {
                    flex-wrap: wrap;
                    width: 100%;

                    .LicensingFeedCards {
                        width: 300px;
                    }
                }
            }
        }
    }

}