.Discover {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .DiscoverContainer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        .discoverNavbar {
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                display: flex;
                gap: 20px;
                align-items: center;
    
                li {
                    list-style: none;
    
                    a {
                        width: 100%;
                        padding: 10px;
                        text-decoration: none;
                        color: black;
                        font-size: 18px;
                        font-weight: 400;
                        display: block;
                        border-bottom: 3px solid #fff;
                        font-weight: 500;
    
                        &:hover {
                            border-bottom: 3px solid #2986F7;
                            background-color: #F7F8FA;
                        }
                    }
                }
            }
        }
    }

    .DiscoverContainerTop {
        padding: 10px 0;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: gray;
    }

   
    .DiscoverContainerBottom {
        .photoGrid {
            display: flex;
            margin: 0 -10px;
            width: auto;

            .myMasonryGrid {
                display: flex;
                width: 100%;
                gap: 10px;

                .myMasonryGridColumn {

                    background-clip: padding-box;
                    width: 100%;
                }
            }
        }

        .imageContainer {
            position: relative;
            overflow: hidden;
            margin-top: 10px;
            &:hover{
              .addButton{
                display: block;
              }
            }
            .addButton {
              display: none;
              position: absolute;
              top: 10px;
              right: 10px;
              background-color: transparent;
              color: white;
              padding: 8px;
              border: 1px solid white;
              border-radius: 100px;
              cursor: pointer;
              color: #e51e1e;
              transition: background-color 0.3s;
              transition: 0.5s;
        
              &:hover {
                background-color: #e51e1e;
                color: white;
                border: 1px solid transparent;
                transition: 0.5s;
              }
        
            }
            img {
                display: block;
                width: 100%;
                height: auto;
                transition: transform 0.3s ease-in-out;
                border-radius: 2px;
                

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}
@media screen and (min-width:280px) and (max-width:600px) {
  .Discover {
    .DiscoverContainerBottom{
    .imageContainer {
      .addButton {
        display: block;
      }}
    }
  }
}
.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;

  &::before,
  &::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }

  &::after {
    margin: 8px;
    animation-duration: 3s;
  }
}

.loader {
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  box-sizing: content-box;
  height: 40px;
  padding: 10px;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #299fff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
  10% {
    transform: translateY(-105%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-205%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-305%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-405%);
  }

  100% {
    transform: translateY(-400%);
  }
}