.PortfolioHome {
    background-image: url("../../about/banner_portfolio_desktop.7c38b910.png");
    min-height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 30px;

    .portofiloIcon {
        font-size: 55px;
        padding: 20px;
        border-radius: 100px;
        background-color: #45457C;
        color: white;
    }

    h3 {
        font-size: 68px;
        font-weight: 700;
        color: white;
    }
}

.photographersHome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

    .photographersHomeContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        width: 70%;

        h3 {
            font-size: 29px;
            font-weight: 700;
        }

        p {
            font-size: 16px;
            font-weight: 400;
        }

        button {
            padding: 15px 22px;
            font-size: 29px;
            font-weight: 700;
            background-color: #222222;
            color: white;
            width: 20%;
            border-radius: 100px;
        }

        img {
            width: 100%;
        }
    }
}

@media screen and (min-width:280px)and (max-width:860px) {
    .photographersHome {
        .photographersHomeContainer {
            width: 90%;

            button {
                width: 100%;
            }
        }
    }

}