.QuestCategories{
    display: flex;
    align-items: center;
    justify-content: center;
    .QuestCategoriesContainerBottom{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        background-color: #222222;
        min-height: 20vh;
        flex-direction: column;
        gap: 16px;
        p{
            width: 35%;
            font-size: 18px;
            text-align: center;
        a{
            color: white;
        }
        }
    }
}