.AwardHero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .AwardHeroContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: black;

        .AwardHeroContainerLeft {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;

            .AwardHeroLeft {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                flex-direction: column;
                gap: 45px;

                .AwardHeroContainerTop {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

            .AwardHeroContainerBottom {
                display: flex;
                align-items: start;
                justify-content: start;
                width: 100%;
                flex-direction: column;
                gap: 25px;

                h2 {
                    font-size: 44px;
                    font-weight: 700;
                    color: white;
                }

                p {
                    font-size: 24px;
                    font-weight: 400;
                    color: white;
                }
            }
        }

        .AwardHeroContainerRight {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 97%;
            flex-wrap: wrap;
            gap: 10px;

            img {
                width: 230px;
                height: 250px;
            }
        }
    }

    .CategoryWinners {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 35vh;
        background-color: #1C1C1C;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        h2 {
            color: white;
        }

        .CategoryWinnersButons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .CategoryBtns {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 100px;
                padding: 15px 30px;
                background-color: aqua;
                color: white;
            }
        }
    }

    .PhotographersoftheYear {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: black;

        .PhotographersoftheYearTop {
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
            color: white;
        }

        .PhotographersoftheYearBotom {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            width: 80%;

            .PhotographersoftheYearBotomDesk {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                h2 {
                    color: white;
                    text-decoration: underline;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

                h4 {
                    padding: 2px;
                    font-size: 19px;
                    text-align: center;
                    background-color: #7EB29F;
                }

                h5 {
                    border: 2px solid white;
                    color: white;
                    width: 40px;
                    text-align: center;
                }

                p {
                    color: white;
                    font-size: 16px;
                    letter-spacing: 2px;
                }

                button {
                    width: 80%;
                    border-radius: 100px;
                    padding: 15px 22px;
                    font-size: 18px;
                    font-weight: 700;
                    background-color: white;
                    color: black;
                }
            }

            .PhotographersoftheYearBotomImg {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width:280px)and (max-width:860px) {
    .AwardHero {
        .AwardHeroContainer {
            flex-direction: column;

            .AwardHeroContainerTop {
                svg {
                    width: 100%;
                }
            }

            .AwardHeroContainerRight {
                >div {
                    display: none;
                }
            }
        }

        .PhotographersoftheYearBotom {
            flex-direction: column;
            width: 100%;
        }
    }
}