.Grants {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;

    .GrantsContainerHero {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        width: 100%;
        min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url('../../about/Commercial_Grants_Header.16bd69fc.png');
        background-position: center;
        background-size: cover;

        .GrantsContainerHeroTextTop {

            display: flex;
            justify-content: center;
            align-items: start;
            width: 70%;

            .GrantsContainerHeroText {
                display: flex;
                justify-content: start;
                flex-direction: column;
                width: 100%;
                text-align: start;

                .desc {
                    font-size: 16px;
                    color: #fff;
                    width: 38%;
                    line-height: 1.2;
                    text-align: start;
                }

                .bigTitle {
                    text-align: start;
                    font-size: 48px;
                    font-weight: 600;
                    color: #fff;
                    width: 80%;
                    padding-bottom: 15px;
                }
            }
        }

        .svgwavestop {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -1px;
            left: 0;
        }
    }

    .GrantsSecond {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 17px;
        padding-top: 17px;

        .GrantsSecondContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            gap: 30px;

            .GrantsSecondText {
                display: flex;
                align-items: start;
                justify-content: space-between;
                flex-direction: column;
                gap: 20px;
                width: 100%;

                a {
                    padding: 15px 30px;
                    color: #fff;
                    background-color: #2C3D63;
                    border-radius: 100px;
                    font-weight: 600;
                    text-decoration: none;
                }

                h2 {
                    color: #2C3D63;
                    font-size: 34px;
                    font-weight: 700;
                }

                p {
                    font-size: 17px;
                }
            }

            .GrantsSecondImage {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .GrantsThree {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #2C3D63;
        min-height: 60vh;
        padding-bottom: 27px;
        padding-top: 27px;

        .GrantsThreeContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 70%;
            gap: 30px;

            .GrantsThreeContainerTop {
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;


                h2 {
                    font-size: 36px;
                    color: #FFDD66;
                }
            }

            .GrantsThreeContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                gap: 27px;

                .GrantsThreeContainerLeft,
                .GrantsThreeContainerRight {
                    width: 100%;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    flex-direction: column;
                    width: 100%;
                    gap: 10px;

                    h2 {
                        padding-bottom: 15px;
                        font-size: 36px;
                        color: #FFDD66;
                    }

                    h3 {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        color: #FFDD66;
                        font-size: 17px;

                        a {
                            text-decoration: none;
                            color: #FFDD66;
                        }
                    }
                }
            }

            .GrantsThreeContainerBottom {
                padding-top: 20px;

                a {
                    padding: 17px 28px;
                    border-radius: 100px;
                    text-decoration: none;
                    background-color: #FFDD66;
                }
            }
        }
    }

    .GrantsFour {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #FFDD66;
        min-height: 25vh;

        .GrantsFourContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-direction: column;
            gap: 30px;

            h2 {
                color: rgb(44, 61, 99);
                font-size: 36px;
            }

            ul {
                position: sticky;
                height: 71px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    list-style: none;

                    a {
                        font-size: 20px;
                        text-decoration: none;
                        color: #2C3D63;
                        padding: 6px 30px;
                    }
                }
            }
        }
    }

    .GrantsFive {
        background-color: #FFE8DC;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;

        .GrantsFiveContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            flex-direction: column;
            gap: 30px;

            .GrantsFiveContainerTop {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    color: #AF375B;
                    font-size: 76px;
                }
            }

            .GrantsFiveContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                .GrantsFiveContainerMiddleRight,
                .GrantsFiveContainerMiddleLeft,
                .GrantsFiveContainerMiddleLeftTop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }

                    h3 {
                        color: #AF375B;
                    }

                    .grantsFiveBtn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        gap: 20px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            background-color: #AF375B;
                            padding: 15px 26px;
                            border-radius: 100px;
                            color: #AF375B;
                            border: 2px solid #AF375B;
                        }
                    }
                }
            }

            .GrantsFiveContainerBottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }

                .GrantsFiveContainerBottomLeft,
                .GrantsFiveContainerBottomRight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .GrantsSeven {
        background-color: #027A95;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;

        .GrantsSevenContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            flex-direction: column;
            gap: 30px;

            .GrantsSevenContainerTop {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    color: #DDFFF2;
                    font-size: 76px;
                }
            }

            .GrantsSevenContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }

                .GrantsSevenContainerMiddleLeft,
                .GrantsSevenContainerMiddleLeftTop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    h3 {
                        color: #DDFFF2;
                    }

                    img {
                        width: 100%;
                    }

                    .grantsSevenBtn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        gap: 20px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            background-color: #DDFFF2;
                            padding: 15px 26px;
                            border-radius: 100px;
                            color: #DDFFF2;
                            border: 2px solid #DDFFF2;
                        }
                    }
                }
            }

            .GrantsSevenContainerBottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                .GrantsSevenContainerBottomLeft,
                .GrantsSevenContainerBottomRight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .GrantsEight {
        background-color: #D0D0FC;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;

        .GrantsEightContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            flex-direction: column;
            gap: 30px;

            .GrantsEightContainerTop {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h6 {
                    color: #AF375B;
                    font-size: 60px;
                }
            }

            .GrantsEightContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;
                padding-bottom: 17px;

                .GrantsEightContainerMiddleRight {
                    img {
                        width: 100%;
                    }
                }

                .GrantsEightContainerMiddleLeft,
                .GrantsEightContainerMiddleLeftTop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }

                    h3 {
                        color: #AF375B;
                    }

                    .grantsEightBtn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        gap: 20px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            background-color: #AF375B;
                            padding: 15px 26px;
                            border-radius: 100px;
                            color: #AF375B;
                            border: 2px solid #AF375B;
                        }
                    }
                }
            }

            .GrantsEightContainerBottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }

                .GrantsEightContainerBottomLeft,
                .GrantsEightContainerBottomRight {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .GrantsNine {
        background-color: #DDFFF2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;

        .GrantsNineContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            flex-direction: column;
            gap: 30px;

            .GrantsNineContainerTop {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    color: #027A95;
                    font-size: 60px;
                }
            }

            .GrantsNineContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }

                .GrantsNineContainerMiddleLeft,
                .GrantsNineContainerMiddleLeftTop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    img {
                        width: 100%;
                    }

                    h3 {
                        color: #027A95;
                    }

                    .grantsNineBtn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        gap: 20px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            background-color: #027A95;
                            padding: 15px 26px;
                            border-radius: 100px;
                            color: #027A95;
                            border: 2px solid #027A95;
                        }
                    }
                }
            }

            .GrantsNineContainerMiddleLeftBottom {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .GrantsNineContainerMiddleRight {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }

        .GrantsNineContainerBottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            img {
                width: 100%;
            }

            .GrantsFiveContainerBottomLeft {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                gap: 20px;

                img {
                    width: 100%;
                }
            }

            .GrantsFiveContainerBottomRight {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50%;
                gap: 20px;
                flex-direction: column;

                img {
                    width: 100%;
                }
            }
        }
    }

    .AboutEnd {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #2C3D63;
        min-height: 40vh;
        padding-bottom: 17px;

        .AboutEndContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            flex-direction: column;
            color:
                rgb(255, 221, 102);
            gap: 20px;
            text-align: center;

            h2 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
            }

            a {
                padding: 16px 26px;
                border-radius: 100px;
                text-decoration: none;
                color: #2C3D63;
                font-size: 16px;
                font-weight: 500;
                background-color: rgb(255, 221, 102);
            }
        }
    }

    .GrantsTen {
        background-color: #FFDD66;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        min-height: 100vh;
        padding-top: 40px;
        padding-bottom: 40px;

        .GrantsTenContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            flex-direction: column;
            gap: 30px;

            .GrantsTenContainerTop {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                h2 {
                    color: #2C3D63;
                    font-size: 76px;
                }
            }

            .GrantsTenContainerMiddle {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                width: 100%;

                img {
                    width: 100%;
                }

                .GrantsTenContainerMiddleLeft,
                .GrantsTenContainerMiddleLeftTop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px;
                    width: 80%;

                    h3 {
                        color: #2C3D63;
                    }

                    img {
                        width: 100%;
                    }

                    .grantsTenBtn {
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        width: 100%;
                        gap: 20px;
                        text-align: center;

                        a {
                            text-decoration: none;
                            background-color: #2C3D63;
                            padding: 15px 26px;
                            border-radius: 100px;
                            color: #2C3D63;
                            border: 2px solid #2C3D63;
                            padding-bottom: 17px;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (min-width:280px)and (max-width:860px) {
    .Grants {
        .GrantsContainerHero {
            background-position: right 20%;
        }

        .GrantsSecondContainer {
            flex-direction: column;

            a {
                width: 100%;
                text-align: center;
            }
        }

        .GrantsThreeContainerMiddle {
            flex-direction: column;

            .GrantsThreeContainerLeft {
                width: 100%;
            }
        }

        .GrantsFour {
            min-height: 34vh;
            padding-bottom: 50px;

        }
.GrantsFiveContainerBottomRight,
        .GrantsSevenContainerMiddle,
        .GrantsFiveContainerMiddle {
            flex-direction: column;
        }
.GrantsTenContainerMiddle,
        .GrantsNineContainerBottom,
        .GrantsNineContainerMiddle,
        .GrantsEightContainerMiddle,
        .GrantsSevenContainerBottom,
        .GrantsFiveContainerBottom {
            flex-direction: column;
        }

        .GrantsEight {
            .GrantsEightContainerTop {
                h6 {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }

        .GrantsNineContainerTop,
        .GrantsSevenContainerTop,
        .GrantsFiveContainerTop {
            h2 {
                font-size: 50px;
                text-align: center;
            }
        }














    }
}