.PortfolioHomeThree {
    background-image: url("../../about/banner_licensing_desktop@2x.440dbd64.png");
    min-height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 30px;

    .portofiloIconThree {
        font-size: 55px;
        padding: 20px;
        border-radius: 100px;
        background-color: #FEDF46;
        color: rgb(0, 0, 0);
    }

    h3 {
        font-size: 68px;
        font-weight: 700;
        color: white;
    }
}

.photographersHomeThree {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

    .photographersHomeContainerThree {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 30px;
        width: 80%;

        .photographersHomeContainerThreeDesk {
            display: flex;
            gap: 15px;
            flex-direction: column;
            align-items: start;
            text-align: start;
            width: 100%;

            h3 {
                font-size: 40px;
                font-weight: 700;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }

            button {
                padding: 15px 22px;
                font-size: 27px;
                font-weight: 700;
                background-color: #222222;
                color: white;
                border-radius: 100px;
            }
        }

        .ImagePhThree {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:280px)and (max-width:860px) {
    .photographersHomeThree {
        .photographersHomeContainerThree {
            width: 90%;
            flex-direction: column;

            button {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

}