.MembershipsPlans {
    padding: 50px 20px;

    &Container {
        max-width: 78%;
        margin: 0 auto;
        border-radius: 10px;
        overflow: hidden;

        &Title {
            text-align: start;
            padding: 20px;
            border-bottom: 1px solid #eee;

            h1 {
                font-size: 2.5rem;
                color: #333;
                margin: 0;
            }
        }

        &Data {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }
    }

    &Desk {
        flex: 1;
        padding: 20px;

        h2 {
            font-size: 1.75rem;
            color: #333;
            margin-top: 0;
        }

        p {
            font-size: 1rem;
            color: #666;
            line-height: 1.5;
            margin: 10px 0;
        }

        h3 {
            font-size: 1.25rem;
            color: #333;
            margin: 20px 0 10px;
        }
    }

    &Image {
        flex: 1;
        padding: 20px;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .MemberBtns {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        button {
            display: flex;
            align-items: center;
            background-color: black;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: rgba(0, 0, 0, 0.56);
            }

            svg {
                margin-right: 5px;
            }
        }

        .firstoftype {
            background-color: #6DF5F1;
            color: black;


            &:hover {
                background-color: #6df5f19f;
            }
        }

    }
}